#section_1 {
    display: flex;
    align-items: center;
    height: 450px;
}

.event {
    margin: 30px;
    padding: 20px;
}

.logo_events {
    width: 500px;
}

#section_2 {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 450px;
}

.link_event,
.link_event_2 {
    font-size: 15px;
    background: #FCA311;
    padding: 12px;
    color: white;
}

.link_event:hover {
    background-color: black;
}

.link_event_2:hover {
    background-color: white;
    color: black;
}


#section_3 {
    display: flex;
    align-items: center;
    height: 450px;
}

#video_yt {
    display: flex;
    justify-content: center;
    padding: 30px 0px 100px 0px;
}

#section_4 {
    background-image: url(../images/background.jpg);
    height: 800px;
}